.header {
  position: relative;
  background-color: $color-primary;
  background-image: url(../img/img-header.png);
  min-height: 100vh;
  color: $color-light;

  display: grid;
  align-content: center;
  padding: 150px 0;
}